::-webkit-scrollbar {
    opacity: 0;
}

:root {
    --violet: #988AA8;
    --grisViolet: #716F6F;
    --creme: #F6E3CF;
    --lightCreme: #f7eee5;
    --accent:#8C46E8;
    --bubbleShadow:drop-shadow(1px 1px 3px rgb(48, 48, 48));
}

body,
html {
    overflow: hidden;
    max-height: 100vh;
    scroll-behavior: smooth;

}

body {
    margin: 0;
    margin-top: 0;
    font-family: 'Ropa Sans', sans-serif;

}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

/* Navigation menu */
#close-menu,
#open-menu {
    display: none;
    transition: linear 400ms;
    z-index: 5;

}

nav {
    width: 33.333%;
    background-color: var(--violet);
    height: 100vh;
    /* border-right:2px solid var(--creme); */
    filter:drop-shadow(0px 1px 3px rgb(56, 56, 56));
}

#logonav {
    width: 50%;
    margin-left: 25%;
}

h2 {
    font-size: 1.8rem;
    text-align: center;
}

h3 {
    margin-top: 5%;
    text-align: center;
    font-size: 1.5rem;
}

.charactersCard {
    background-color: var(--creme);
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 3%;
}

.charactersCard::after {
    content: "";
    background-color: var(--violet) !important;
    background: url('img/bg/scratch_paper.png');
    background-size: cover;
    width: 100%;
    height: 76px;
    display: block;
}

.charactersCard hr {
    border: .7px solid black;
    margin-left: 10%;
    margin-right: 10%;
}

.circle {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    align-items: flex-start;

}

.pnj {
    border-radius: 50%;
    background-color: var(--grisViolet);
    height: auto;
    width: 50%;
    margin: auto;

}

#sasha,
#twan,
#professeur,
#bloup,
#noona,
#eunji,
#nathan,
#alice,
#clay {
    display: none;
}

/*Fiche personnage*/
.fiche {
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fiche p {
    text-align: center;
    font-size: 1rem;
}

/*Paramètre*/
.setting {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.setting img {
    width: 25px;
    height: 25px;
}

#user:hover {
    cursor: pointer;
}

.user {
    left: 0;
    top: 0;
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: var(--violet);
    z-index: 10;
}

.info {
    width: 90%;
    transform: translate(0%, 50%);
    margin: auto;
    /* background-color: #716F6F; */
    text-align: center;
    height: auto;
}

.info img {
    width: 20%
}

.retour {
    color: #000 !important;
}

.info p {
    text-align: center;
    padding: 1%;
}

.info a {
    position: unset;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    background-color: #ff0000;
    padding: 2%;
    border: #ff0000;
    border-radius: 5px;
    font-size: 1rem;
}

/*Espace de principal*/
.gamespace {
    width: 77%;
    background-image: url("img/bg/chambre.jpg");
    background-size: contain;
    background-repeat: round;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

/*Bulle d'initialisation*/
.start {
    margin-left: 12%;
    margin-top: 3%;
    margin-bottom: 1%;
    line-height:1.6;
    color:black;
    padding: 1%;
    text-align: center;
    width: 70%;
    height: fit-content;
    background-color: var(--lightCreme);
    border-top:3px solid black;
    border-bottom:3px solid black;
}

/*Mise en forme des bulles de dialogue */
.bubbleLiam {
    display: inline-flex;
    width: 70%;
    margin-left: 30%;
    margin-bottom: 2%;
}

.bubbleChoice {
    width: 100%;
    justify-content: center;
    display: flex;
    margin-right: auto;
    margin-left: auto;
}

.bubbleChoice .content {
    width: 100%;
    margin: auto;
    justify-content: center;
}

.bubbleChoice p {
    width: 50%;
    background-color: var(--creme);
    padding: 4%;
    text-align: center;
    transition: .5s;
    border-radius: 20px 5px 20px 5px;
    border:7px double var(--creme);
    cursor:pointer;
    pointer-events: auto;
    filter:var(--bubbleShadow);
}

.bubbleChoice p:hover {
    filter:drop-shadow(0px 0px 0px);
    border:7px double black;
    border-radius:0px;
    letter-spacing:1.5px;
}

input[submit] {
    background-color: none;
    border: 0;
    margin: 0;
}

.bubbleRandom {
    display: inline-flex;
    width: 70%;
    margin-right: 30%;
    margin-bottom: 2%;
}

.bubbleRandom p {
    width: 70%;
    background-color: var(--creme);
    padding: 2%;
    text-align: justify;
    height: fit-content;
    border-radius: 0px 8px 8px 8px;
    filter:var(--bubbleShadow);
}

.content {
    max-height: 25vh;
    width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.liam_pdp {
    margin-right: 4vw;
}

.random_pdp {
    margin-left: 4vw;
    order: -1;
}

.liam_pdp,
.random_pdp {
    border-radius: 50%;
    background-color: var(--grisViolet);
    width: 7vw;
    height: 14vh;
    border:1px solid black;
}

.bubbleLiam p {
    width: 70%;
    background-color: var(--creme);
    padding: 2%;
    text-align: right;
    border-radius: 8px 0px 8px 8px;
    filter:var(--bubbleShadow);
}

/* Mise en forme des bulles informatives */
.didascalie,
.chapter {
    text-align: center;
    font-style: italic;
    margin: auto;
    margin-bottom: 2%;
    color: var(--creme);
    width: 50%;
    height: fit-content;
    background-color: var(--violet);
    filter:var(--bubbleShadow);
}

.chapter {
    font-weight: bold;
    font-size: 2rem;
}

/* Modal des vision*/
.vision {
    display: none;
    position: absolute;
    z-index: 10;
    width: 70%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0px;
    right: 0px;
    transition: ease-in-out 500ms;
    transform: scale(1);

}

button {
    background: none;
    border: none;
    color: white;
    font-size: 2.5rem;
    cursor: pointer;
    font-weight: bold;
    position: absolute;
    top: 2%;
    left: 2%;
}

.vision img {
    width: 70%;
    text-align: center;
    transform: translate(20%, 5%) scale(1);
}

.open-button {
    position: absolute;
    top: 2%;
    left: 2%;
}

.delegue,
.danseur,
.nanji,
.contrat {
    display: none;
}

/* Modal de fin de jeu*/
.endgame {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 30;
    background-color: rgba(0, 0, 0, 0.6);
}

.endgame div {
    position: relative;
    text-align: center;
    top: 50%;
    transform: translate(50%, -50%);
    padding: 1%;
    width: 50vw;
    height: auto;
    background-color: var(--creme);
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.endgame a {
    color: var(--violet);
    text-decoration: none;
    border: var(--violet);

}

/* Media queries */
@media screen and (max-width: 1000px) {
    #logonav {
        width: 60%
    }

    .pnj {
        width: 70%;
    }

    h3 {
        font-size: 1rem;
    }

}

@media screen and (max-width: 800px) {

    /*tablette*/
    #open-menu {
        display: block;
        text-align: left;
        transition: linear 400ms;
        font-size: 2rem;
    }

    nav {
        position: absolute;
        top: 0;
        left: -100vw;
        height: 100vh;
        width: 100%;
        z-index: 15;
        transition: linear 500ms;
        overflow-y: scroll;
    }

    #logonav {
        width: 40%;
        margin-left: 30%;
    }

    h3 {
        font-size: 1.2rem;
    }

    .charactersCard::after {
        height: 150px;
    }

    .circle {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
        align-items: flex-start;

    }

    .pnj {
        width: 45%;
    }

    .fiche {
        width: 30%;
    }

    /*Gamespace*/
    .gamespace {
        width: 100%;
        background-size: cover;
    }

    .bubbleLiam,
    .bubbleRandom {
        width: 80%
    }

    .bubbleLiam {
        margin-left: 20%;
    }

    .liam_pdp,
    .random_pdp {
        width: auto;
        height: 15vh;
    }

    .random_pdp {
        margin-left: 1vw;
    }

    .liam_pdp {
        margin-right: 1vw;
    }

    .content {
        justify-content: space-around;
    }

    .bubbleChoice {
        width: 90vw;
    }

    /*Vision*/
    .vision {
        width: 100%;
    }

    .vision img {
        width: 90%;
        transform: translate(6%, 30%) scale(1);

    }

    @media screen and (max-width: 480px) {

        /*mobile*/
        .gamespace {
            background-position: center;
            background-repeat: no-repeat;
        }

        .bubbleLiam,
        .bubbleRandom {
            width: 80%
        }

        .bubbleLiam {
            margin-left: 20%;
        }

        .liam_pdp,
        .random_pdp {
            height: 12vh;
        }

        .bubbleChoice {
            flex-direction: column;
        }

        .vision img {
            width: 100%;
            transform: translate(0%, 60%) scale(1);

        }

    }
}