::-webkit-scrollbar{
    opacity: 0;
}

:root {
    --violet:#988AA8;
    --grisViolet:#716F6F;
    --crème:#F6E3CF;
}

body, html{
    overflow: hidden;
    max-height: 100vh; 
    scroll-behavior: smooth;

}
 
body{
    margin: 0;
    margin-top: 0;
    font-family: 'Ropa Sans', sans-serif;

}
.container{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

/* Navigation menu */
#close-menu, #open-menu{
    display: none;
    transition: linear
     400ms;
    z-index: 999;
   
}
nav{
    width: 33.333%;
    background-color:var(--violet);
    height: 100vh;
}
#logonav{
    width: 50%;
    margin-left: 25%;

}

h2{
    margin: 15%;
    font-size: 1.8rem;
    text-align: center;
}
h3{
    margin-top: 5%;
text-align: center;
font-size: 1.5rem;
}

.background{
    background-color: royalblue;
    width: 77%;
}

.charactersCard {
    background-color: var(--crème);
    margin-left:5%;
    margin-right:5%;
    padding-top:3%;
}

.charactersCard::after {
    content :"";
    background-color: var(--violet) !important;
    background:url('img/bg/scratch_paper.png');
    background-size:cover;
    width:100%;
    height:76px;
    display: block;
}

.charactersCard hr {
    border:.7px solid black;
    margin-left:10%;
    margin-right:10%;
}

.circle{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    align-items: flex-start;

}
.pnj{
    border-radius: 50%;
    background-color: var(--grisViolet);
    height: auto;
    width: 50%;
    margin:auto;
 
}
#sasha, #twan, #professeur, #bloup, #noona, #eunji, #nathan, #alice, #clay{
    display: none;
}
 /* #sasha, #twan{
    display: none;
} */
.fiche{
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.fiche p{
    text-align: center;
    font-size: 1rem;
}
.setting{
    position: relative;
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: space-around;
}

.setting img {
    width: 25px;
    height: 25px;
}
/*Espace de jeu*/
.gamespace{
    width: 77%;
    background-image: url("img/bg/chambre.jpg");
    background-size: contain;
    background-repeat: round;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
.start{
    margin-left: 12%;
    margin-top: 1%;
    margin-bottom: 1%;
    color: #F6E3CF;
    padding: 1%;
    text-align: start;
    width: 70%;
    height: fit-content;
    background-color: #988AA8;

}
 .bubbleLiam{
    display:inline-flex;
    width: 70%;
    margin-left: 30%;
    margin-bottom: 2%;

 }
 .bubbleChoice{
   width: 40vw;
   justify-content: center;
   display: flex;
   margin-right: auto;
   margin-left: auto;
}
 .bubbleChoice .content{
    width: 100%;
    margin: auto;
}
.bubbleChoice a{
    color: black;
    text-decoration: none;
}

.bubbleChoice p:hover{
  background-color: #f5cf52;
  transition: ease-in 500ms;
  color: white;
}
.bubbleChoice p{
    width: 50%;
    background-color: #F6E3CF;
    padding: 4%;
    text-align: center; 
    transition: ease-out 500ms;
    border-radius: 10px 3px 10px 3px;
}
input[submit]{
    background-color: none;
    border: 0;
    margin: 0;

}
 .bubbleRandom{
    display:inline-flex;
    width: 70%;
    margin-right: 30%;
    margin-bottom: 2%;

 }
 .bubbleRandom p{    /*A concatener avec le bubblLiam p */
    width: 70%;
    background-color: #F6E3CF;
    padding: 2%;
    text-align: justify;
    height: fit-content;
    border-radius: 0px 8px 8px 8px;
}
.content{
    max-height:25vh;
    width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.random_pdp{
    margin-left :4vw;
    order:-1;
}
.liam_pdp{
    margin-right :4vw;
}
.liam_pdp, .random_pdp{
    border-radius: 50%;
    background-color: #716F6F;
    width: 7vw;
    height: 14vh;
}
 .bubbleLiam p{ 
    width: 70%;
    background-color: #F6E3CF;
    padding: 2%;
    text-align: right;
    border-radius: 8px 0px 8px 8px;
 }
 .didascalie, .chapter{
     text-align: center;
     font-style: italic;
     margin: auto;
     color: #F6E3CF;
     width: 50%;
     height: fit-content;
     background-color: #988AA8;

 }
 .chapter{
    font-weight: bold;
    font-size: 2rem;
 }
 /* Modal vision*/
 .vision{
     display: none;
     position: absolute;
     width: 70%;
     height: 100%;
     background-color: rgba(0,0,0,0.6);
     top:0px;
     right: 0px;
     transition: ease-in-out 200ms;
     transform: scale(1);

 }
 button{
     background: none;
     border: none;
     color: white;
     font-size: 2.5rem;
     cursor: pointer;
     font-weight: bold;
     position: absolute ;
     top: 2%;
     left: 2%;
 }
 .vision img{
     width: 70%;
     text-align: center;
     transform: translate(20%,5%) scale(1);
 }
 .open-button{
     position: absolute ;
     top: 2%;
     left: 2%;
 }
 .delegue, .danseur, .nanji{
     display: none;
 }


 /* Media queries */
 @media screen and (max-width: 1000px) {
     #logonav{
         width: 60%
     }
    .pnj{
        width: 70%;
    }
    h3{
        font-size: 1rem;
    }
    
 }

  @media screen and (max-width: 800px) { /*tablette*/
    #open-menu{
        display: block;
        text-align: left;
        transition: linear 400ms;
        font-size: 2rem;
    }
    nav {
        position: absolute;
        top: 0;
        left:-100vw;
        height: 100vh;
        width: 100%;
        transition: linear
         500ms;
        overflow-y: scroll;
    }

    #logonav{
        width: 40%;
        margin-left: 30%;
    }

    h3{
    font-size: 1.2rem;
    }
    
    .charactersCard::after {
        height:89px;
    }
    
    .circle{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
        align-items: flex-start;
    
    }
    .pnj{
        width: 45%;
    }
    .fiche{
        width: 30%;
    }
    /*Gamespace*/
    .gamespace{
        width: 100%;
        background-size: cover;
    } 
    .bubbleLiam, .bubbleRandom{
        width:80%
    }
    .bubbleLiam{
        margin-left: 20%;
    }
    .liam_pdp, .random_pdp{
        width: auto;
        height: 15vh;
    }
    .random_pdp{
        margin-left :1vw;
    }
    .liam_pdp{
        margin-right :1vw;
    }
    .content{
        justify-content: space-around;
    }
    .bubbleChoice{
        width: 90vw;
    }
    /*Vision*/
    .vision{
        width: 100%;
    }
    .vision img{
        width: 70%;
        transform: translate(5%,20%) scale(1);

  }

  @media screen and (max-width: 480px) { /*mobile*/
    .gamespace{
        background-position: center;
    }
    .bubbleLiam, .bubbleRandom{
        width:80%
    }
    .bubbleLiam{
        margin-left: 20%;
    }
    .liam_pdp, .random_pdp{
        height: 12vh;
    }
    .bubbleChoice{
        flex-direction: column;
    }

  }